.header-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--color-cream);
    border-bottom: 1px solid var(--color-dark-brown);
    box-shadow: 0 4px 15px rgba(89, 69, 69, 0.1);
}

.header-logo-group {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-logo-element-1 {
    background-color: var(--color-dark-brown);
    color: var(--color-white);
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
}

.header-logo-element-2 {
    color: var(--color-dark-brown);
    font-weight: 600;
    font-size: 24px;
}

.header-search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--color-dark-brown);
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--color-white);
}

.header-search-form-input-group {
    flex-grow: 1;
    position: relative;
}

.header-search-form-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header-search-form-input {
    width: 100%;
    padding: 10px 18px;
    font-family: inherit;
    font-size: 16px;
    color: var(--color-dark-brown);
    background-color: transparent;
    border: none;
    outline: none;
}

.header-search-form-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    background-color: transparent;
    color: var(--color-dark-brown);
    border: none;
    border-left: 1px solid var(--color-dark-brown);
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.header-search-form-submit-button:hover {
    background-color: var(--color-dark-brown);
    color: var(--color-white);
}

.header-right-buttons-group {
    display: flex;
    border: 1px solid var(--color-dark-brown);
    border-radius: 6px;
    overflow: hidden;
}

.header-right-button-light,
.header-right-button-dark {
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-right-button-light {
    background-color: var(--color-white);
    color: var(--color-dark-brown);
}

.header-right-button-light:hover {
    background-color: var(--color-cream);
}

.header-right-button-dark {
    background-color: var(--color-dark-brown);
    color: var(--color-white);
    border-left: 1px solid var(--color-dark-brown);
}

.header-right-button-dark:hover {
    background-color: var(--color-accent-medium);
}
